/* Remove browser default  paddings and margins */
*{
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Styling the background and page texts*/
.background{
  background-color: aqua;
  height: 100vh;
  padding-top: 1px;
}
.title{
  color: black;
  text-align: center;
  font-size: 3em;
  margin-top: 5%;
}
.display{
  color: black;
  text-align: center;
  font-size: 2em;
  margin: 0.5em auto 1em auto;
}
.hide{
  display: hide;
}
/* Creating and styling the grid */
.container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 500px;
  max-height: 500px;
}
.grid{
  border: 4px solid black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Styling the reset button */
.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
#reset{
  background-color: cadetblue;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 2.5em;
  cursor: ponter;
}
/* Styling the players color */
.playerX{
  color: blueviolet;
}
.playerY{
  color: red;
}

